<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670576353457-r4ok06bflie0pg0n1ea7s10grj49gr28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670576353457-r4ok06bflie0pg0n1ea7s10grj49gr28</string>
	<key>API_KEY</key>
	<string>AIzaSyDVkofVS1FhbiTOeexLlQ6q1FkCihGvQH0</string>
	<key>GCM_SENDER_ID</key>
	<string>670576353457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ebrious.com.Space</string>
	<key>PROJECT_ID</key>
	<string>space-b26c7</string>
	<key>STORAGE_BUCKET</key>
	<string>space-b26c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670576353457:ios:80f075929c8ba73a234290</string>
	<key>DATABASE_URL</key>
	<string>https://space-b26c7.firebaseio.com</string>
</dict>
</plist>